.a{background-color:rgba(141, 110,99 ,255 ) ;
    display: flex;
   justify-content: space-between;
   align-items: center;
}



#z{width: 10%;
 height: 10%;
}




.e a{

   color:white ;
   
}



.e div { margin: 1%;
         
         text-decoration: none;
}


.r{background-image:url('background-office-bg-changed\ \(2\).jpg')
   ;width: 98%;height: 40%;
   margin: 0%;padding: 1%;
  text-align: center;
   color: white;

}







.p{display: flex;
  background-color:rgba(244,241,234,255) ;
  justify-content: space-around;
  margin: 2%;
}



.card{background-color:rgba(215,204,200,255) ;
     padding: 0.1%;
     text-align: center;
   width: 32%;
}


#n{width: 70%;
height: 70%;}






  










.w{background-color:rgba(239,235,233,255);
   text-align: center;
}




.q{background-color: rgba(141,110,99,255);
   text-align: center;
}








